.rectangle-icon {
  width: 735px;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
}
.savourmeals3 {
  height: 47px;
  width: 293px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.savourmeals-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 44px;
}
.in-need,
.lets-feed-those {
  margin: 0;
}
.lets-feed-those-container {
  margin: 0;
  width: 801px;
  height: 592px;
  position: relative;
  font-size: var(--font-size-45xl);
  letter-spacing: 0.05em;
  font-weight: 400;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.74);
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  padding-left: var(--padding-xl);
  z-index: 1;
}
.vector-group {
  width: 870px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 36px 0 156px;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-174xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.sig {
  letter-spacing: 0.2em;
}
.n {
  letter-spacing: 0.05em;
}
.up {
  letter-spacing: 0.2em;
}
.sign-up3 {
  margin: 0;
  width: 453px;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  transform: rotate(-0.28deg);
  max-width: 100%;
  white-space: nowrap;
  padding-left: var(--padding-xl);
}
.sign-up-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  min-height: 36px;
  max-width: 100%;
}
.email-frame,
.email-frame1,
.first-name-password-pair {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  align-self: stretch;
  height: 54px;
  background: linear-gradient(
    90.79deg,
    #88d3c6,
    rgba(217, 217, 217, 0.68) 0.01%,
    rgba(146, 226, 212, 0.57) 0.02%,
    rgba(217, 217, 217, 0.31) 79%,
    rgba(217, 217, 217, 0)
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-xs);
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  min-width: 223px;
}
.last-name {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 var(--padding-5xs);
  gap: var(--gap-75xl);
}
.first-name-frame,
.first-name-password-pair1,
.last-name {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.first-name-password-pair1 {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 54px;
  background: linear-gradient(
    90.79deg,
    #88d3c6,
    rgba(217, 217, 217, 0.68) 0.01%,
    rgba(146, 226, 212, 0.57) 0.02%,
    rgba(217, 217, 217, 0.31) 79%,
    rgba(217, 217, 217, 0)
  );
  flex-direction: row;
  align-items: center;
  padding: var(--padding-mini) var(--padding-xs);
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  min-width: 223px;
}
.first-name-frame {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-60xl);
}
.create-account-text {
  height: 62px;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -0.5px;
  right: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-cadetblue-100);
  cursor: pointer;
}
.create-account1 {
  height: 51px;
  flex: 1;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.create-account-text-parent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: var(--padding-2xl) var(--padding-2xl) 0 var(--padding-22xl);
  position: relative;
}
.first-name-frame-parent,
.frame-div,
.input-frame {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-div {
  width: 242px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-5xs);
}
.first-name-frame-parent,
.input-frame {
  flex-direction: column;
  max-width: 100%;
}
.first-name-frame-parent {
  width: 392px;
  align-items: center;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-104xl);
  font-size: var(--font-size-xl);
}
.input-frame {
  width: 506px;
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-93xl);
}
.button {
  height: 908px;
  width: 324.5px;
  position: absolute;
  margin: 0 !important;
  bottom: -1018.97px;
  left: 759px;
  background-color: var(--color-mediumturquoise);
  transform: rotate(122.8deg);
  transform-origin: 0 0;
  z-index: 2;
}
.sign-up2 {
  width: 100%;
  position: relative;
  background-color: var(--color-cadetblue-200);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 900px) {
  .vector-group {
    gap: var(--gap-174xl);
    padding-top: var(--padding-4xl);
    padding-bottom: var(--padding-82xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 675px) {
  .input-frame {
    gap: var(--gap-93xl);
  }
}
@media screen and (max-width: 450px) {
  .savourmeals-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .vector-group {
    gap: var(--gap-174xl);
    padding-top: var(--padding-xl);
    padding-bottom: 66px;
    box-sizing: border-box;
  }
  .last-name {
    gap: var(--gap-75xl);
  }
  .first-name-frame {
    gap: var(--gap-60xl);
  }
  .first-name-frame-parent {
    gap: var(--gap-104xl);
  }
  .input-frame {
    gap: var(--gap-93xl);
  }
}
